---
import { TextGenerateEffect } from "@/components/ui/text-generate-effect";
import { InteractiveButton } from "@/components/ui/interactive-button";
import HeroSection from "@/components/Hero";
import { flags, type FlagImage } from "@/data/flags";
import Mouse from "@/assets/mouse.svg";
import { getLocaleFromURL } from "@/i18n/config";

const { t } = Astro.props;
const currentLang = getLocaleFromURL(Astro.url.pathname);
const quoteUrl = `/${currentLang}/quote`;
---

<header
  class="relative flex h-dvh w-full items-center justify-center"
  id="home"
>
  <main class="h-full w-full bg-cover bg-center pb-28 shadow-lg">
    <HeroSection client:load />
    <div
      class="absolute top-16 left-0 right-0 flex flex-col h-full w-full items-center justify-center p-4 gap-11 mx-auto my-auto max-w-4xl z-20"
    >
      <div class="flex flex-col items-center justify-center gap-1 text-center">
        <div class="flex gap-6 xl:hidden animate-fade-in delay-200">
          {
            flags.map((flag: FlagImage) => (
              <img
                src={flag.src}
                alt={flag.alt}
                class="h-9 w-9"
                decoding="async"
                loading="eager"
              />
            ))
          }
        </div>
        <h1
          class="uppercase text-4xl md:text-5xl text-center md:text-[85px] font-medium max-w-[70ch] text-white text-balance mt-8"
        >
          {t.hero.title}
          <!-- <TextGenerateEffect
            client:load
            words="Reliable Freight and Heavy Haul Transport Partner"
          /> -->
        </h1>
      </div>
      <div class="flex items-center justify-center gap-5">
        <a href={quoteUrl} class="dark:text-white cursor-pointer">
          <InteractiveButton
            className="text-2xl uppercase dark:text-white font-medium"
          >
            {t.hero.ctaButton}
          </InteractiveButton>
        </a>
      </div>
      <Mouse class="block md:hidden animate-fa" />
    </div>
  </main>
</header>
